<!DOCTYPE html><html lang='en' class=''>
<title>VPN-Detected</title>
<meta name="description" content="Check Whatever You're Using VPN">
<meta name="viewport" content="width=device-width, initial-scale=0.7">
<!DOCTYPE html>
<html>
<body>
    
<div id="BlackListIP" style="display: none;"><%= percent1 %></div>
<div id="Host" style="display: none;"><%= percent2 %></div>
<div id="TimeZone" style="display: none;"><%= time_zone %></div>
<div id="Result" style="display: none;"><%= result %></div>
<div id="ipClient" style="display: none;"><%= ipClient %></div>

<h1>VPN-Detected</h1>

<body onload="timeZone(<%= result %>)"></body>

<h3>Client Info:</h3>
<p id="Ip"></p>
<p id="SysDate"></p>
<p id="Timezone"></p>
<br>

<h3>Functions:</h3>
<p id="BlackListip"></p>
<p id="TimeZoneResult"></p>
<p id="HostField"></p>
<br>

<h3>Final Result:</h3>
<p id="FinalResult"></p>
<p id="Using"></p>

<script type="text/javascript" src="index.js"></script>

</body>
</html>

